<h1>プロフィール</h1>

<p>ユーザ名:<%= @user.name %></p>
<p>メールアドレス:<%= @user.email %></p>

<p>
  <strong>プロフィール画像:</strong>
  <%= image_tag @user.avatar.url %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

  <%= link_to 'Back', pictures_path %>
