<!DOCTYPE html>
<html>
  <head>
    <title>PhotoPost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <p>PhotoPost</p>
      <nav>
        <ul class="top_menu clearfix">
          <% if logged_in? %>
            <li><%= link_to "Profile", user_path(current_user.id) %>
            <li><%= link_to "Logout", session_path(current_user.id), method: :delete %>
            <li><%= link_to "Home", pictures_path %>
            <li><%= link_to 'New Picture', new_picture_path %>
            <li><%= link_to "Favorite", favorites_path %>
          <% else %>
            <li><%= link_to "Sign up", new_user_path %>
            <li><%= link_to "Login", new_session_path %>
          <% end %>
        </ul>
      </nav>
    </header>    
  
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}")%>
    <% end %>
    <br>

    <%= yield %>

    <footer class = "footer">
      <p>Copyright © 2023 Ruby on Rails exercise.</p>
    </footer>
  </body>
</html>
